.search-wrapper {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  
  margin: 0 auto;
  color: var(--text-color-title);
  border-radius: 5px;
}

@media (max-width: 888px) {
  .search-wrapper {
    width: 50%;
  }
}

.search-input-container {
  position: relative;
  width: 100%;
}

.search-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  left: 15px;
  top: 22px;
  transform: translateY(-50%);
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

.search-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  width: 100%;
  height: 40px;
  padding: 20px 45px;
  color: var(--text-color-title);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: border-color 0.3s ease;
  font-size: 16px;
  box-sizing: border-box;
}

.search-input:focus {
  outline: none;
  border-color: var(--focus-color);
}

@media (max-width: 555px) {
  .search-input::placeholder {
    opacity: 0;
    color: transparent;
    visibility: hidden; 
  }
}

.search-result-wrapper {
  display: flex;
  width: 100%;
}

.search-loading {
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  color: var(--text-color-description);
}

.search-result-fail {
  display: flex;
  overflow-wrap: break-word;
  word-break: break-word;

  justify-content: center;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  color: var(--danger-color);
  background-color: var(--secondary-color);
  border-radius: 10px;
}