.profile-page {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--primary-color);
}

.background-proportion-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.proportion-keeper {
  width: 100%;
  height: 300px;
  display: block;
  visibility: hidden;
  pointer-events: none;
}

.background-image {
  position: absolute;

  left: 0;
  top: 0;

  background-image: var(--bg-image);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  width: 100%;
  height: 300px;

  /* z-index: 0; */
}

.user-profile {
  display: flex;
  position: absolute;

  top: 265px;

  width: 100%;

  flex-direction: column;

  padding: 0 10%;
}

@media (max-width: 1200px) {
  .user-profile {
    padding: 0 5%;
  }
}

.profile-avatar-container {
  width: 140px;
  height: 140px;

  background-color: var(--primary-color);
  border: 10px solid var(--primary-color);
  border-radius: 15px;

  margin-right: 50px;
}

.profile-avatar {
  position: relative;
  width: 120px;
  height: 120px;

  border-radius: 10px;

  object-fit: cover;
  object-position: center;
}

.profile-top {
  display: flex;

  margin-bottom: 40px;
}

@media (max-width: 888px) {
  .profile-top {
    flex-direction: column;
  }
}

.profile-stats {
  display: flex;

  align-items: flex-end;

  padding: 10px;
}

@media (max-width: 888px) {
  .profile-stats {
    flex-direction: column;
    align-items: flex-start;
  }
}

.profile-followers,
.profile-following,
.profile-location {
  display: flex;

  padding: 15px;

  background-color: var(--secondary-color);
  border-radius: 10px;

  margin-bottom: 10px;
}

.profile-followers,
.profile-following {
  margin-right: 20px;
}


.profile-followers-text,
.profile-following-text,
.profile-location-text {
  display: flex;
  align-items: center;
  color: var(--text-color-description);
  font-weight: 400;

  margin-right: 30px;
}

.profile-followers-count::before,
.profile-following-count::before,
.profile-location-info::before {
  content: '';
  position: absolute;

  left: -15px;
  top: -5px;
  bottom: -5px;

  width: 1px;

  background-color: var(--text-color-description);
}

.profile-followers-count,
.profile-following-count,
.profile-location-info {
  display: flex;
  align-items: center;
  color: var(--text-color-title);
  font-weight: 500;

  position: relative;
}

.profile-name {
  color: var(--text-color-title);

  font-size: 30px;
  font-weight: 500;

  margin-bottom: 10px;
}

.profile-description {
  color: var(--text-color-description);
  font-weight: 500;

  margin-bottom: 25px;
}

.profile-repos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;

  padding: 5px;

  gap: 30px;

  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .profile-repos {
    grid-template-columns: 1fr;
  }
}

.profile-repo-card {
  display: flex;
  flex-direction: column;

  padding: 15px;

  background: var(--gradient-color);
  border-radius: 10px;
}

.repo-card-header {
  color: var(--text-color-title);
  font-weight: 500;
  margin-bottom: 10px;
}

.repo-card-info {
  color: var(--text-color-description);
  font-weight: 500;
  margin-bottom: 10px;
}

.repo-card-stats {
  display: flex;
  align-items: center;
}

.repo-card-organisation,
.repo-card-clones,
.repo-card-stars {
  color: var(--text-color-description);
  font-weight: 500;
  margin-right: 20px;
}

.repo-card-updated {
  color: var(--text-color-description);
  font-size: 12px;
}

.profile-view-all-repos {
  display: flex;

  justify-content: center;
}

.view-repos-button {
  background-color: inherit;
  padding: 5px;
  cursor: pointer;
  color: var(--text-color-title);
  font-weight: 400;

  border: none;
}